extends container

include form.mixins.pug

block scripts
  script(src="/javascripts/model.client.js")

block content
  if searchData
    .row.baseline
      h2.col Search Terms
      a.col(href=(baseURL || '.')) Clear Results
    .row.baseline
      each val, key in searchData
        if key in tableFields
          .col.marginX
            b= tableFields[key] + ': '
            span= val

  if canRead && !canWrite
    +formInput('forceSearch', 'hidden', null, true)

  form.plain#editForm(action=postURL method="POST")
    fieldset
      legend.row.baseline
        h2= (canRead && !canWrite ? 'Search ' : 'Edit ') + title
        input.small.button.button-group#clearForm(type="reset" value="Clear")
        if canRead && canWrite
          .small
            +formInput('_searchMode', 'checkbox', null, searchData, 'Search', 'ignoreClear', 'Use Search rules')

      block form

      if csrfToken
        span: +formInput('_csrf', 'hidden', null, csrfToken)

      +buttonRow(buttons, { Search: 'primary', Add: 'tertiary', Update: 'tertiary', Remove: 'secondary', Reset: 'secondary' }, submitURLs)
  
  if canRead
    hr

    table.striped.hoverable
      caption= title + (searchData ? ` Results (${data.length})` : " Table")
      thead
        tr
          each val in tableFields
            th= val
      tbody
        if !data.length
          tr.dim: td.center: i - Empty -
        block table

    if !searchData
      +pageNav(page, size, pageCount, sizes)