extends base

block scripts
  script(src="/javascripts/model.js")

mixin formInputs(schema)
  each val, key in schema
    .input-group
      label(for=key)= key
      input(type=val name=key id=key step=(val === 'number' ? "any" : undefined))

mixin idInput()
  .input-group
    label(for='id') id
    input#id(type='number' name='id' pattern="\\d+" min="0" step="1")


block content
  .container
    .row
      h1.col= title
      a.col.button(href=baseURL) Home

  form#editForm(action=postURL method="POST")
    .container
      .row
        h2.col Edit
        input.col.button(type="reset" value="Clear")
    +idInput()
    +formInputs(schema)
    br
    .button-group
      each label in buttons
        input.button(type="submit", name="action", value=label, id=`action${label}`)

  hr

  div
    h2 View
    table.striped.hoverable
      thead
        tr
          each key in keys
            th= key
      tbody
        each entry in data
          tr.tableRow(id='row'+entry.id)
            each key in keys
              td(data-label=key)= entry[key]
