extends components/container

include components/form.mixins.pug

block scripts
  script(src="/javascripts/users.client.js")
  script(src="/javascripts/togglePassword.js")

block content
  form#editForm(action=postURL method="POST")
    fieldset
      legend.row
        h2 Edit
        input.small.button.button-group#clearForm(type="reset" value="Clear")

      .row
        .col-sm
          each val, key in { username: 'text', password: 'password', confirm: 'password' }
            +formInput(key, val, limits[key], defaults[key], tableFields[key], '', tooltips[key])
        
        .col-sm
          +buttonInput('token', 'readonly', 'Regen', limits.token, defaults.token, tableFields.token, tooltips.token)
          +checkboxes('access', accessLevels, tableFields.access)
          span#primary-key
            +formInput(idKey, 'hidden')

      .row: .col-sm
        +formInput('cors', '2', limits.cors, defaults.cors, tableFields.cors, '', tooltips.cors)

      +buttonRow(buttons)
      
        
  hr

  table.striped.hoverable
    caption User Table
    thead
      tr
        each val in tableFields
          th= val
    tbody
      each user in users
        tr.tableRow(data-key=idKey data-val=user[idKey])
          each val, key in tableFields
            -var rowCls = key !== 'cors' ? '' : user.regExCors ? 'cors-regex' : user.arrayCors ? 'cors-array' : ''
            td(data-label=val data-key=key class=rowCls)= user[key]