extends components/container

include components/form.mixins.pug

block scripts
  script(src="/javascripts/profile.client.js")
  script(src="/javascripts/password.client.js")

block content
  table.horizontal
    thead
      tr
        each val in tableFields
          th= val
    tbody
      tr
        each val, key in tableFields
          -var rowCls = key !== 'cors' ? '' : userData.regExCors ? 'cors-regex' : userData.arrayCors ? 'cors-array' : ''
          if key !== 'token'
            td(data-label=val) #{key in userData ? userData[key] : ''}!{'&nbsp;'}
          else
            td.button-input.token-cell(data-label=val)
              span#token= userData.token || ' '
              span.button-group
                input.button.secondary(type='button' name='regenToken' id='regenToken' value='Regen' formaction=regenURL)
                input.button.primary(type='button' name='copyToken' id='copyToken' value='Copy')

  hr

  form.plain#editForm(method="POST")
    fieldset
      legend.row.baseline
        h2 Update Profile

      .row
        .col-sm
          each val, key in { username: 'text', password: 'password', confirm: 'password' }
            +formInput(key, val, schema[key].limits, key === 'username' && userData[key], tableFields[key], '', tooltips[key])
          
          span#primary-key
            input(type="hidden" value=userData[idKey] id=idKey name=idKey)
          
          if csrfToken
            span: +formInput('_csrf', 'hidden', null, csrfToken)

      +buttonRow(buttons, { Update: 'tertiary', Remove: 'secondary' }, submitURLs)
