extends components/container

block scripts
  script(src="/javascripts/password.client.js")

block content
  .row

    .card.large.col.center.plain
      form.plain(action=postURL method="POST")
        fieldset
          legend= isUser ? "Login" : "Create Admin"

          .input-group.fluid
            label(for="username") Username
            input#username(
              type="text" name="username" placeholder="Enter Username" autocomplete="username"
              required=true minLength=schema.username.limits.min maxLength=schema.username.limits.max
            )

          .input-group.fluid
            label(for="password") Password
            input#password(
              type="password" name="password" placeholder="Enter Password" 
              autocomplete=(isUser ? "current-password" : "new-password")
              required=true minLength=schema.password.limits.min maxLength=schema.password.limits.max
            )
            button.toggle-password.small(type="button")
          
          if csrfToken
            span: input.hidden(type="hidden" name="_csrf" id="_csrf" value=csrfToken)

          .button-group
            input.primary(type="submit" value=(isUser ? "Login" : "Create"))
          
          if failureMessage.length
            .toast= failureMessage.join(', ')