extends components/modelBase

block scripts
  script(src="/javascripts/users.client.js")
  script(src="/javascripts/password.client.js")

block form
  .row
    .col-sm
      each val, key in { username: 'text', password: 'password', confirm: 'password' }
        +formInput(key, val, schema[key].limits, searchData ? searchData[key] : schema[key].default, tableFields[key], '', tooltips[key])

      .collapse
        input.ignoreClear(type="checkbox" id="expandModels" aria-hidden="true" checked=false)
        label.center.tooltip(for="expandModels" aria-hidden="true" aria-label=tooltips.models role="button")= tableFields.models
        .row
          .col.autoMargin
            +checkboxes('models', modelsList[0], 'Models', modelsList[1], searchData ? searchData.models : schema.models.default)
    
    .col-sm
      div(style='text-align:right;'): i: a#copyToken.small(href="#") Copy API Key
      +buttonInput('token', 'readonly', 'Regen', schema.token.limits, searchData ? searchData.token : schema.token.default, regenURL, tableFields.token, tooltips.token)

      +checkboxes('access', accessLevels, tableFields.access, null, searchData ? searchData.access : schema.access.default)

      .row.responsive-padding
        +formInput('locked', 'checkbox', null, searchData ? searchData.locked : schema.locked.default, tableFields.locked, '', tooltips.locked)

      span#primary-key
        +formInput(idKey, 'hidden')
      +pageData(page, size)

  .row: .col-sm
      +formInput('cors', '2', schema.cors.limits, searchData ? searchData.cors : schema.cors.default, tableFields.cors, '', tooltips.cors)

block table
  each user in data
    tr.tableRow(data-key=idKey data-val=user[idKey])
      each val, key in tableFields
        -var rowCls = key !== 'cors' ? '' : user.regExCors ? 'cors-regex' : user.arrayCors ? 'cors-array' : ''
        td(data-label=val data-key=key class=rowCls)= user[key]
