extends components/modelBase

block scripts
  script(src="/javascripts/users.client.js")
  script(src="/javascripts/password.client.js")

block form
  .row
    .col-sm
      each val, key in { username: 'text', password: 'password', confirm: 'password' }
        +formInput(key, val, schema[key].limits, searchData ? searchData[key] : schema[key].default, tableFields[key], '', tooltips[key])

      .collapse
        input.ignoreClear(type="checkbox" id="expandAccess" aria-hidden="true" checked=false)
        label.center.tooltip(for="expandAccess" aria-hidden="true" aria-label=tooltips.access role="button")= tableFields.access
        .row
          .col.autoMargin
            +checkboxes('access', accessList[0], 'Model Access', accessList[1], searchData ? searchData.access : schema.access.default)
    
    .col-sm
      +buttonInput('token', 'readonly', ['Regen','Copy'], schema.token.limits, searchData ? searchData.token : schema.token.default, regenURL, tableFields.token, tooltips.token, "token")

      +checkboxes('role', roles, tableFields.role, null, searchData ? searchData.role : schema.role.default)

      .row.responsive-padding
        +formInput('locked', 'checkbox', null, searchData ? searchData.locked : schema.locked.default, tableFields.locked, '', tooltips.locked)

      span#primary-key
        +formInput(idKey, 'hidden')
      +pageData(page, size)

  .row: .col-sm
      +formInput('cors', '2', schema.cors.limits, searchData ? searchData.cors : schema.cors.default, tableFields.cors, '', tooltips.cors)

block table
  each user in data
    tr.tableRow(data-key=idKey data-val=user[idKey])
      each val, key in tableFields
        -var rowCls = key === 'cors' && user[metaKey].corsType ? 'cors-' + user[metaKey].corsType : ''
        td(data-label=val data-key=key class=rowCls)= user[key]
