header
  span.logo
    a(href="/" title="Splash Page")
      img(src="/images/logo.png" alt=appTitle width="32px")

  if !hideNav
    a.button.null(href=urls.gui.basic.prefix+urls.gui.basic.home title="Database")
      span.icon-home Home
    if isAdmin
      a.button.null(href=urls.gui.admin.prefix+urls.gui.admin.user title="User Table")
        span.icon-user Users
      //- a.button.null(href=urls.gui.admin.prefix+urls.gui.admin.logs title="View Logs")
        span.icon-edit Logs
      //- a.button.null(href=urls.gui.admin.prefix+urls.gui.admin.home title="Settings")
        span.icon-settings Settings

    else
      a.button.null(href=urls.gui.basic.prefix+urls.gui.basic.user title="Profile")
        span.icon-user User

    span.spacer

    if user
      span.align-self-center.dim.null(title="Username"): i= user
      a.button.null(href=urls.gui.root.logout title="Logout")
        span.icon-link Logout